# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode and PyCharm settings
.vscode/
.idea/

# macOS and Windows files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.bak

# Environment config
.env
